@keyframes fade {
    to {transform: scale(1);opacity:1;border-radius:0}
}
@keyframes bluePulse{
    from {
        background-color: #007d9a;
        box-shadow: 0 0 9px #333;
    }

    50% {
        background-color: #2daebf;
        box-shadow: 0 0 18px #2daebf;
    }

    to {
        background-color: #007d9a;
        box-shadow: 0 0 9px #333;
    }
}

@keyframes x0{to{left:0;}}
.x0{animation:x0 .2s ease  forwards}
@keyframes x25{to{left:25%;}}
.x25{animation:x25 .2s ease  forwards}
@keyframes x50{to{left:50%;}}
.x50{animation:x50 .2s ease  forwards}
@keyframes x75{to{left:75%;}}
.x75{animation:x75 .2s ease  forwards}

@keyframes y0{to{top:0;}}
.y0{animation:y0 .2s ease  forwards}
@keyframes y25{to{top:25%;}}
.y25{animation:y25 .2s ease  forwards}
@keyframes y50{to{top:50%;}}
.y50{animation:y50 .2s ease  forwards}
@keyframes y75{to{top:75%;}}
.y75{animation:y75 .2s ease  forwards}


#app{
    width:100%;
    position:relative;
    font-family: 'Inknut Antiqua','Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}
#app ul{
    list-style:none;
    display:inline-block;
    margin:0;
    padding:0;
    position:relative;
    height:0;
    padding-top:100%;
    width:100%;
}
.mask{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding-bottom:100%;
    background:rgba(0,0,0,0.38);
    opacity:0;
}
.mask div{
    cursor:pointer;
    width:100%;
    height:100%;
    position:absolute;
    font-size:3.5em;
    font-weight:bold;
    color:#ddd;
    display:flex;
    justify-content:center;
    align-items:center;
    text-shadow: 2px 2px 10px #555;
}
#app button{
    width:100px;
    height:50px;
    line-height:50px;
    font-size:20px;
    display:block;
    cursor:pointer;
    margin:20px auto;
    background-color: #2daebf;
    border-color: #238896;
    color: white;
    box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
    border-radius: 4px;
    transition: background-color 300ms ease-out;
    animation:bluePulse 2s 4s infinite;
}
.box{
    width:25%;
    height:25%;
    line-height:200%;
    text-align:center;
    position:absolute;
    font-size:2.8em;
    cursor:pointer;
    background: hsla(30,37%,89%,.35);
    border: 1px solid #ccc;
    box-shadow: 1px 1px 4px;
    box-sizing: border-box;
    -webkit-user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /*animation:appear .5s ease-in;
    transition:background .3s,color .3s .3s;*/
}
.empty{
    background:#f0f0f0;
    box-shadow: inset 1px 1px 3px  #929292;
}
.combin{
    z-index:1;
    opacity:0;
    transform: scale(0.1);
    border-radius:50%;
    animation:fade 200ms ease;
}

.s2{
    background: #f8f3e8;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0); 
}
.s4{
    background: #ede0c8;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0); 
}
.s8{
    color: #f9f6f2;
    background: #f2b179; 
}
.s16{
    color: #f9f6f2;
    background: #f59563; 
}
.s32{
    color: #f9f6f2;
    background: #f67c5f;
}
.s64{
    color: #f9f6f2;
    background: #f65e3b; 
}
.s128{
    color: #f9f6f2;
    background: #edcf72;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
}
.s256{
    color: #f9f6f2;
    background: #edcc61;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
}
.s512{
    color: #f9f6f2;
    background: #edc850;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
}
.s1024{
    color: #f9f6f2;
    background: #edc53f;
    font-size:2em;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
}
.s2048{
    color: #f9f6f2;
    background: #edc22e;
    font-size:2em;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
}
.s4096{
    color: #f9f6f2;
    background: #61c0ed;
    font-size:2em;
    box-shadow: 0 0 30px 10px hsla(211, 84%, 70%, 0.45),inset 0 0 0 1px hsla(0,0%,100%,.33333);
 
}
.show-transition {
  transition: all .5s ease;  
  transform:scale(1) rotate(360deg);
  border-radius:0;
  opacity:1;
}
.show-enter,.show-leave{
  transform:scale(0) rotate(0);
  border-radius:50%;
  opacity:0;  
}

@media all and (orientation : landscape){
    #app{
        width:30%;
        margin-top:5%;
    }
}